<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vela | Art of Living Stylish</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans%7Poppins&display=swap" rel="stylesheet">
  
</head>

<body>
    <h1 class="hidden">Vela - Toronto, Ontario</h1>

    <div class="container">
      <header class="mainHeader">
       
        <nav class="main-navigation">
         <h2 class="hidden">Main Navigation</h2>
          <div class="logo">
          <img src="images/vela_logo.svg" alt="Vela logo" class="vela-logo">
        </div>

         <button class="button"></button>

         <div class="burgerCon">
          <img src="images/burger_menu.svg" alt="Burger menu" class="burger-menu">
          <ul class="burgerMenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
    </div>


    <div class="container">

      <section class="img-con">
          <div class="width-img">
              <img src="images/home_decor_1.jpg" alt="Home Decor" class="decor-img">
              <h1 class="hidden">Nice decor home</h1>
              <p>It is a brand new day for wonderful home goods</p>
              <div class="button-con">
              <a href="#" class="exp-more">EXPLORE MORE</a>
              </div>
              </div>
      </section>

      <section class="trendings">
          <h2>Wall Planters</h2>
          <h3>A functional design with a modern twist</h3>

          <section class="catcus">
          <img src="images/catcus_1.jpg" alt="Catcus" class="catcus-img">
          <h3 class="subhead">Catcus Plant Wall</h3>
          <h4 class="item">5 items</h4>
          <div class="button-shop">
          <a href="#" class="shop-now">SHOP NOW</a>
          </div>
          </section>
      

      <section class="giardiano">
          <img src="images/giardino_1.jpg" alt="Giardiano" class="catcus-img">
          <h3 class="subhead">Giardiano Herb</h3>
          <h4 class="item">3 items</h4>
          <div class="button-shop">
          <a href="#" class="shop-now">SHOP NOW</a>
          </div>
      </section>
    </section>

      <section class="our-designs">
          <h2>Have you an innovation?</h2>
          <img src="images/interior_design_1.jpg" alt="Interior Design" class="int-des-img">
          <h3 class="subhead">Design with Us</h3>
          <div class="button-shop">
          <a href="#" class="shop-now">OUR DESIGN TEAM</a>
      </section>

      
    <footer>
            
        <div id="left-footer">
            <h4 class="info">Contact Us</h4>
            <p id="phone">Phone:519.123.4456</p>
            <p id="email">Email:info@vela.com</p>
            </div>
             
            <div id="middle-footer">
            <h4 class="info">Address</h4>
            <p id="address">300 Symington Ave, Toronto ON M6P 3W8</p>
          </div>
            
           <div id="right-footer">
            <p id="copy-right">©Copyright Vela 2019. All Rights Reserved.</p>
          </div>
    
    </footer>
  </div> <!-- End container -->


<script src="js/main.js"></script>
</body>
</html>